@(player: Player)

@main("ARWars") {
   
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdrfRsWjuVuIxjonf0mFWeF3v5wztOfxI&sensor=false">
    </script>
    <script src="@routes.Assets.at("javascripts/arwars/geolocation.js")" type="text/javascript"></script>
    
    <script type="text/javascript">
    	var playerId = "@player.getId().toString()";
    	var map;
    
	    $(document).ready(function () {
	        var mapOptions = {
	          center: new google.maps.LatLng(48.133, 11.566),
	          zoom: 11,
	          mapTypeId: google.maps.MapTypeId.ROADMAP
	        };
	        map = new google.maps.Map($('#map_canvas')[0],
	            mapOptions);
	            
	        var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
	        var socket = new WS("@routes.WebSocketController.connect().webSocketURL(request)");
	        
	        var receiveEvent = function(event) {
	        	console.log("received a message over websockets");
                console.log(event);
            }
            socket.onmessage = receiveEvent
	            
	        setLocationWatcher();
	        
		    $(window).resize(function () {
		        var h = $(window).height(),
		            offsetTop = 110;
		        $('#map_canvas').css('height', (h - offsetTop));
		    }).resize();
	    });
    </script>
    
    <div class="row-fluid">
      <div class="span3">
        <div class="sidebar-nav">
          <ul class="nav nav-tabs">
		    <li class="active">
		    <a href="#">Units</a>
		    </li>
		    <li><a href="#">Resources</a></li>
		    <li><a href="#">Stats</a></li>
		    <li><a href="#">Team</a></li>
		  </ul>
        </div><!--/sidebar-nav -->
      </div><!--/span-->
      <div class="span9">
        <div id="map_canvas"></div>
      </div><!--/span-->
    </div><!--/row-->    
}