@(player: Player)

@scripts = {
<script>
	window.ArWars = { 
	};
	
	$(document).ready(function() {
		var profileEditor = new window.ArWars.ProfileEditor();
	});
	
	jQuery.extend({
    postJSON: function( url, data, callback) {
       return jQuery.post(url, data, callback, "json");
    }
    });
</script>
<script src="@routes.Assets.at("javascripts/ProfileEditor.js")" type="text/javascript"></script>
}

@main(title = "Profile - " + player.getUsername() + " - ARWars", scripts) { 

<div class="row">
	<div class="span7">
		<h2>Edit profile</h2>
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="inputUsername">Username</label>
				<div class="controls">
					<!--  <input type="text" id="inputUsername" placehoder="@player.getUsername()" disabled> -->
					<span id="firsnameHelper" class="help-inline">@player.getUsername()</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputFirstname">First name</label>
				<div class="controls">
					<input type="text" validation="mandatoryWord" required id="inputFirstname" value="@player.getFirstname()">
					<span class="help-inline hide">Type a word</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputLastname">Last name</label>
				<div class="controls">
					<input type="text" validation="mandatoryWord" id="inputLastname" value="@player.getName()">
					<span class="help-inline hide">Type a word</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputEmail">Email</label>
				<div class="controls">
					<input type="email" validation="email" id="inputEmail" value="@player.getEmail()">
					<span class="help-inline hide">Please type a correct email</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputHometown">Hometown</label>
				<div class="controls">
					<input type="text" validation="optionalWord" id="inputHometown" value="@player.getHomeTown()">
					<span class="help-inline hide">Type a word</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputBirthday">Date of birth</label>
				<div class="controls">
					<input type="text" validation="date" id="inputBirthday" value="@player.getDateOfBirthString()">
					<span class="help-inline">Date format: dd.mm.yyyy</span>
				</div>
			</div>
		</form>
	</div><!--/span-->
		<div class="span5">
			@if(player.getAvatar() != null) {
				<img class="media-object" src="@player.getAvatar()">
			} else {
				<img class="media-object" src="@routes.Assets.at("images/profile_default.png")">
			}
		</div>
</div><!--/row-->
<div class="row">
	<div class="span12">
		<form class="form-horizontal">
			<div class="control-group">
				<div class="controls">
					<button type="button" class="btn" id="saveButton">Save</button>
					<button type="button" class="btn" onclick="location.href='/'">Cancel</button>
				</div>
			</div>
		</form>
	</div><!--/span-->
</div><!--/row-->
}
