@(player: Player) 
@main("ARWars") {

<script type="text/javascript">
	var playerId = "@player.getId().toString()";
</script>

<div class="row-fluid">
	<div class="span12">
		<h2>Edit profile</h2>
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="inputUsername">Username</label>
				<div class="controls">
					<input type="text" id="inputUsername" value="@player.getUsername()">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputFirstname">First name</label>
				<div class="controls">
					<input type="text" id="inputFirstname" value="@player.getFirstname()">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputLastname">Last name</label>
				<div class="controls">
					<input type="text" id="inputLastname" value="@player.getName()">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputEmail">Email</label>
				<div class="controls">
					<input type="text" id="inputEmail" value="@player.getEmail()">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputHometown">Hometown</label>
				<div class="controls">
					<input type="text" id="inputHometown" value="@player.getHomeTown()">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputBirthday">Date of birth</label>
				<div class="controls">
					<input type="text" id="inputBirthday" value="@player.getDateOfBirth()">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Save</button>
				</div>
			</div>
		</form>
	</div><!--/span-->
</div><!--/row-->
}
