@(photos: List[Photo])

@main("WebApp Lab Demo") {
    
    <script>
		$(function() {
			$( "#sortable" ).sortable();
			$( "#sortable" ).disableSelection();
		});
	</script>
	<style>
		#sortable { list-style-type: none; margin: auto; padding: 0; width: 900px; }
		#sortable li { float: left; margin: 3px; width: 200px; height: 200px; }
		#header {margin: auto; text-align: center;}
		#gallery { margin: auto; text-align: center; font-size: 2em; }
	</style>
	<h1 id="header">Uber-Fancy Gallery</h1>
		
	<div id="gallery">
		@if(photos.isEmpty) {
			<a id="loadLink" href="@routes.Application.loadTestData()">load photos</a>
		} else {
			<ul id="sortable">
				@for(photo <- photos) {
					<li><a href="@routes.Application.getPhoto(photo.getIdentifier())"><img src="@routes.Application.getThumbnail(photo.getIdentifier())" /></a></li>
				}
			</ul> 
		}
	</div>
}
